/*******************    AV PLAYER  STUFF    *********************/
/* Using the lovely Solarized Color Palette - http://ethanschoonover.com/solarized */
.topinblock {
  vertical-align: top;
  display: inline-block;
}
.roundbox {
  border-radius: 5px;
}
.roundbox2 {
  border-radius: 2px;
}
.roundbox3 {
  border-radius: 3px;
}
.roundbox4 {
  border-radius: 4px;
}
.roundbox5 {
  border-radius: 5px;
}
.roundbox7 {
  border-radius: 7px;
}
.roundbox10 {
  border-radius: 10px;
}
.roundbox11 {
  border-radius: 11px;
}
.roundbox12 {
  border-radius: 12px;
}
.roundbox20 {
  border-radius: 20px;
}
/* class that allows us to switch back to more expected/standard way
   of measuring things.  like make it so borders *add to*,
   not included *in* a pegged/css width, etc. */
.content-box-sizing,
.content-box-sizing *,
.content-box-sizing *:before,
.content-box-sizing *:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
body.navia .bookreader-playlist-container {
  margin-bottom: 10px;
}
body.navia .bookreader-playlist-container .jwlistV2 {
  text-align: left;
}
body.navia {
  /*&.jwaudio*/
}
body.navia #jw6_controlbar {
  max-width: 2000px !important;
  /*not 800px*/
}
body.navia #jw6_sharing {
  overflow: hidden;
  /* for movie items in 320px (mobile,etc.) dont blow out width of page!*/
}
body.navia.jwaudio {
  /*&.embedded*/
}
body.navia.jwaudio .jw-controls {
  /* move the controls to _under_ the waveform imagery*/
  height: initial;
  top: initial;
  bottom: 0;
  background: black;
}
body.navia.jwaudio .jw-wrapper {
  /* to see waveformer v8.8+*/
  background-color: transparent;
}
body.navia.jwaudio .jw-preview {
  /* to see waveformer*/
  display: block;
  /* not 'initial' because IE11*/
  /* make waveformer be visually nonoverlapping the controlbar*/
  background: transparent no-repeat 50% 0%;
  background-size: 100% 100%;
  /* fallback for older browsers w/o calc() - bottom gets occluded*/
  background-size: 100% calc(100% - 44px);
}
body.navia.jwaudio .jw-controls-backdrop {
  /* to see waveformer*/
  background: initial;
}
body.navia.jwaudio .jw-icon[button=btn-prv],
body.navia.jwaudio .jw-icon[button=btn-nxt],
body.navia.jwaudio .jw-icon[button=btn-shr],
body.navia.jwaudio .jw-icon[button=btn-ia],
body.navia.jwaudio .jw-icon[button=btn-cast] {
  display: flex;
  /* even short height controlbar -- we want to see our custom buttons!*/
}
body.navia.jwaudio .jw-tooltip-btn-ia {
  /* for audio embeds' IA logo -- we _want_ the tooltip to show up -- but to the left*/
  display: block;
  bottom: -60%;
  left: -200%;
}
body.navia.jwaudio.embedded {
  /* JW8 changed min height (effectively) to 50px.  let's... not*/
}
body.navia.jwaudio.embedded .jw-flag-audio-player {
  max-height: 30px;
}
body.navia.jwaudio.embedded .jw-icon {
  height: 30px;
}
/*body.navia*/
.jwtime .jwoverlay {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  /* for the thumbnail tooltips*/
}
body.responsive {
  /* bug fix for jw v6.8 html5 audio skin "five.xml" (only)*/
  /*custom scrollbar colors for safari and chrome*/
  /* make it so we *dont* see extra black bars when video has to fit...*/
  /*.audio-with-youtube-spotify*/
}
body.responsive .jwplayer .jwdisplayIcon .jwtext {
  color: black;
}
body.responsive .jwlist::-webkit-scrollbar,
body.responsive .jwlistV2::-webkit-scrollbar {
  width: 12px;
}
body.responsive .jwlist::-webkit-scrollbar-track,
body.responsive .jwlistV2::-webkit-scrollbar-track {
  background: black;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
body.responsive .jwlist::-webkit-scrollbar-thumb,
body.responsive .jwlistV2::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}
body.responsive.responsive-playing .jwplayer {
  background-color: transparent !important;
}
body.responsive .audio-with-youtube-spotify {
  /* dont show time elapsed / duration for xs breakpoints*/
}
body.responsive .audio-with-youtube-spotify .jw-text-duration,
body.responsive .audio-with-youtube-spotify .jw-text-elapsed {
  display: none;
}
body.responsive .audio-with-youtube-spotify .jw-text-countdown {
  display: none !important;
}
/*body.responsive*/
body.embedded #jw6 {
  width: 100%;
  height: 100%;
}
body.embedded .maudioEmbed {
  max-width: 800px;
  margin: auto;
  position: relative;
}
body.embedded .maudioEmbed #jw6 {
  height: 30px;
}
body.embedded .jwlist {
  background-color: #363636;
}
#jw6 li.item span.title {
  font-size: 11px !important;
}
#jw6 li.item span.title .tn {
  display: inline-block;
  width: 15px;
  text-align: right;
  padding-right: 5px;
  border-right: 1px solid gray;
}
.jwlist {
  overflow-y: auto;
}
.jwlist .jwrow {
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  color: #ccc;
  text-align: left;
  border-bottom: 1px solid black;
}
.jwlist .jwrow:hover {
  cursor: pointer;
  color: white;
  background-color: #262626;
}
.jwlist .jwrow .n {
  vertical-align: top;
  display: inline-block;
  /*for IEv8, at least:*/
  *display: inline;
  /*for IEv7:*/
  zoom: 1;
  width: 25px;
  text-align: right;
  padding-right: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.jwlist .jwrow .ttl {
  vertical-align: top;
  display: inline-block;
  /*for IEv8, at least:*/
  *display: inline;
  /*for IEv7:*/
  zoom: 1;
  text-align: left;
  width: 65%;
  /*starting width; adjust with JS*/
  overflow-x: hidden !important;
  /*  word-wrap: break-word !important;*/
  /* this wraps long urls in IE */
}
.jwlist .jwrow .tm {
  vertical-align: top;
  display: inline-block;
  /*for IEv8, at least:*/
  *display: inline;
  /*for IEv7:*/
  zoom: 1;
  float: right;
  text-align: left;
  font-weight: bold;
}
.jwlist div[class~="jwrow"][class~="playing"] {
  color: #00ADEF;
}
.jwlistV2 a {
  text-decoration: none !important;
}
.jwlistV2 .jwrowV2 {
  border-radius: 7px;
  color: white;
  background-color: black;
  padding: 5px 8px;
  font-weight: 400;
  cursor: pointer;
}
.jwlistV2 .jwrowV2 span.ttl {
  padding: 0 5px 0 8px;
  word-wrap: break-word;
}
.jwlistV2 .jwrowV2 span.tm {
  font-weight: 200;
}
.jwlistV2 .jwrowV2.playing {
  background-color: #13a0d8;
}
/*.jwrowV2*/
